---
layout: default
---
<h1>I'm Gabs.</h1>
<article class="reveal">
    <p>Ciao, I’m a human person. Also a designer and developer. Also I love linux :)</p>
    <p>I have some open source projects that you can check out on my Github :D</p>
    <div class="expand">
        <button class="button primary">
            Expand text <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
    </div>
</article>

<hr />

<h2>Latest projects</h2>
<p>See all my projects <a href="/projects">here</a>.</p>
<section class="cards">
    <div class="card">
        <h3>Vanilla</h3>
        <p>A simple postinstall script for VanillaOS</p>
        <a class="button link" href="https://github.com/GabsEdits/vanilla">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    <div class="card">
        <h3>Password Generator</h3>
        <p>Simple Password Generator.</p>
        <a class="button link" href="https://github.com/GabsEdits/password">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    <div class="card">
        <h3>deb-gnome</h3>
        <p>A postinstall sctipt for Debian Gnome</p>
        <a class="button link" href="https://github.com/GabsEdits/deb-gnome">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    </div>
</section>
</div>
